version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myjira-web-prod
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: unless-stopped
